version: "3.8"

services:
  ollama:
    build:
      context: .
      dockerfile: Dockerfile.ollama
    container_name: ollama
    ports:
      - "11434:11434"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:11434"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - ollama_models:/root/.ollama/models
    env_file:
      - .env

  rag-app:
    image: sgeletta/rag-app:latest

    container_name: rag-app
    ports:
      - "${STREAMLIT_SERVER_PORT:-8501}:8501"
    depends_on:
      ollama:
        condition: service_healthy
    volumes:
      - ./uploaded_docs:/app/uploaded_docs
      - ./vectorstore:/app/vectorstore
      - ./logs:/app/logs
    env_file:
      - .env

volumes:
  ollama_models:
