services:
  rag-app:
    build: .
    image: sgeletta/rag-app:latest
    container_name: rag_app_streamlit
    ports:
      - "8501:8501"
    volumes:
      - ./docs:/app/docs
      - ./faiss_indexes:/app/faiss_indexes
      - ./logs:/app/logs
      - ./.streamlit:/app/.streamlit
    environment:
      # This tells the app inside the container where to find the ollama service.
      # 'ollama' is the name of the service defined below.
      OLLAMA_BASE_URL: http://ollama:11434
    depends_on:
      - ollama
    restart: unless-stopped

  ollama:
    image: ollama/ollama:latest
    container_name: rag_app_ollama
    ports:
      - "11434:11434"
    volumes:
      - ./ollama_data:/root/.ollama
    restart: unless-stopped