streamlit
pandas
matplotlib
seaborn
langchain
langchain-community
langchain-ollama
sentence-transformers
faiss-cpu
pdfplumber
unstructured
python-docx
tiktoken
openpyxl # Dependency for pandas/excel, good to have
lxml # Dependency for some unstructured loaders