streamlit
pandas
matplotlib
seaborn

# LangChain packages
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters

# Core RAG components
ollama
faiss-cpu
sentence-transformers
pdfplumber
unstructured[docx,md]